@font-face {
    font-family: 'spacemono' ;
    src: url(./spacemono/SpaceMono-Regular.ttf) format('truetype');
    src: url(./spacemono/SpaceMono-Regular.woff) format('woff');

    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "spacemono", sans-serif;
    font-size: 20px;
    line-height: 62px;
    background: rgb(237, 190, 190);
    font-style: normal;
}

